<ion-header>
  <ion-toolbar>
    <ion-title>
      Sample App with ion-datetime component
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Select a date from future</ion-label>
    <ion-input [value]="selectedDate" placeholder="Select Date" readonly (click)="openDatePicker()"></ion-input>
  </ion-item>
  <ion-button expand="full" type="submit" (click)="onSubmit()">Submit</ion-button>

  <!-- Dynamic List -->
  <div *ngIf="today" class="dynamic-list">
    <div class="label">Today:</div>
    <div class="value">{{ today }}</div>

    <div class="label">Yesterday:</div>
    <div class="value">{{ yesterday }}</div>

    <div class="label">10 days past selected date:</div>
    <div class="value">{{ tenDaysPast }}</div>

    <div class="label">1 year past selected date:</div>
    <div class="value">{{ oneYearPast }}</div>
  </div>

  <!-- Ion Modal for Datetime -->
  <ion-modal [isOpen]="isDatePickerOpen">
    <ng-template>
      <ion-datetime [min]="minDate" [max]="maxDate" presentation="date"
        (ionChange)="onDateChange($event)"></ion-datetime>
    </ng-template>
  </ion-modal>
</ion-content>