ion-title {
  font-weight: 600;
}

form {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

ion-button {
  margin-top: 16px;
}

.dynamic-list {
  border: 5px solid red;
  margin: 16px;

  .label {
    color: blue;
    font-weight: bold;
  }

  .value {
    font-style: italic;
  }
}
